<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="navbar-toggler-icon"></span>
            </button> <a class="navbar-brand" routerLink="/">Seguros</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="new/policy">Crear <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <h2>
                Hello, world!
            </h2>
            <p>
                Este es el resultado al realizar la prueba. Espero que sea de sus agrado y me consideren un excelente canditado para trabajar con ustedes.
            </p>
            <p>
            <a class="btn btn-primary btn-large" href="https://www.linkedin.com/in/cponton2/">LinkedIn</a>
            </p>
        </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>